includes:
	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Variable \$manager might not be defined\.$#'
		- '#^Method Contributte\\Monolog\\Tracy\\TracyAdapter\:\:log\(\) has parameter (\$message|\$priority) with no typehint specified\.$#'
